*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #efefef;
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: space-around;
    align-items: stretch;
    justify-items: stretch;

}

/*header*/
header
{
    background-color: #364552;
    /*width: 100%;*/
    padding: 2rem 1rem 2rem 1rem;
    color: coral;
    clear: both;
    content: "";
    display: table;
}

header .logo__division__img
{
    width: 6rem;
    height: 6rem;
    float: left;
}

.logo__division__title
{
    text-align: center;
    font-size: 3rem;
}

.logo__division__navegacion
{
    width: 900px;
    margin: auto 0;
}
.logo__division__navegacion__divisor{
    width: 31rem;
    margin-left: auto;
}

.logo__division__navegacion__divisor__lista__contenido
{
    list-style: none;
    margin-left: 1rem;
    padding: 0.25rem 0;
    float: left;
}



.logo__division__navegacion__divisor__lista__contenido a
{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.logo__division__navegacion__divisor__lista__contenido a:hover
{
    transition: 0.2s;
    color: coral;
}


.logo__division__navegacion__divisor__lista__contenido a::before
{
    display: block;
    content: "";
    width: 0%;
    background: black;
    height: 0.25rem;
    top: 0;
    transition: 0.2s;
}

.logo__division__navegacion__divisor__lista__contenido a:hover::before
{
    width: 100%;
}

/*section body*/
#bodyPage
{
    width: 60rem;
    margin: 0 auto;
   
}

/*links y contendores*/
.bodyPage__primerContenido, .bodyPage__segundoContenido, .bodyPage__tercerContenido{
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    text-align: center;
}



.bodyPage__primerContenido:hover, .bodyPage__segundoContenido:hover, .bodyPage__tercerContenido:hover{
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}


.bodyPage__primerContenido a, .bodyPage__segundoContenido a, .bodyPage__tercerContenido a
{
    color:black;
    text-decoration: none;
}

.bodyPage__primerContenido a:hover, .bodyPage__segundoContenido a:hover, .bodyPage__tercerContenido a:hover
{
    color: #364552;
}
/*Link a Comenanos*/
.bodyPage__comentanos
{
    text-align: center;
    margin: 1rem;
    padding: 1;
}

.bodyPage__comentanos__link
{
    text-decoration: none;
    color: black;
}

.bodyPage__comentanos__link:hover
{
    transition: color 0.3s ease;
    color: rgb(40, 53, 238);
}

/*Contenidos de los contenedores*/
.bodyPage__primerContenido__title , .bodyPage__segundoContenido__title, .bodyPage__tercerContenido__title
{
    width: 30rem; 
    margin: 1rem;
}

/*Imagenes y videos*/
.bodyPage__primerContenido__img, .bodyPage__tercerContenido__img
{
    width: 30rem;
    margin: 1rem;
    padding: 1rem 2rem;
}

.bodyPage__segundoContenido__video
{
    width: 40rem;
    height: 30rem;
    margin: 1rem;
}

.bodyPage__contenidoAmpliable
{
    width: 1000px;
    margin: 1rem auto;
    padding: auto;
    text-align: center;
    background-color:  rgba(255, 232, 155, 0.863);
}
samp
{
    font-size: 1.75rem;
    font-family: 'Permanent Marker', cursive;
}

samp:hover
{
    transition: 0.3s ease;
    color: coral;
}

#bodyPage p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

/*footer*/
footer
{
    background-color: #333333;
    width: 100%;
    padding: 3rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer section 
{
    float: right;
}

footer a
{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover
{
    color: rgb(75, 106, 246);
}

/*Contact*/

#bodyPageContact
{
    margin: 1rem;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flexbox;
    min-height: 100vh;
}

.bodyPageContact__contenido__form
{
    background-color: white;
    margin-left: 10rem;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    text-align: center;
}
.bodyPageContact__contenido__form__titel
{
    font-size: 2rem;
    margin-bottom: .5em;
}

.bodyPageContact__contenido__form__cont
{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
/*.bodyPage__contenido__form__grups
{
    position: relative;
}*/
.bodyPageContact__contenido__form__grups__input
{
    width: 100%;
    background: none;
    color: 706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: 'Permanent Marker', cursive;
}
.bodyPageContact__contenido__form__grups__lable
{
    color: coral;
    cursor: pointer;
    position: relative;
}
.bodyPageContact__contenido__form__cont__submit
{
    margin: 5rem 1rem 0 1rem;
    width: 8rem;
    height: 2rem;
    background: #364552;
    font-family: 'Permanent Marker', cursive;
    color:whitesmoke;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/*Disagner*/

#bodyPageDisagner
{
    width: 100%;
    margin: 2rem 1rem;
    text-align: center;
    overflow: hidden;
}

.bodyPageDisagner__contenido__title, .bodyPageDisagner__segundoContenido__title, .bodyPageDisagner__tercerContenido__title
{
    padding: 2rem 1rem;
    margin: 1rem;
    font-size: 4rem;
    
}

#bodyPageDisagner p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.bodyPageDisagner__contenido__video, .bodyPageDisagner__segundoContenido__video
{
    width: 80em;
    height: 45em;
    margin: 1rem;
    padding: 2rem;
}

.bodyPageDisagner__tercerContenido__container
{
    width: 99%;
    margin: auto;
    overflow: hidden;
}
.bodyPageDisagner__tercerContenido__container__lista
{
    width: 400%;
    padding: 0;
    display: flex;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-out;

}
.bodyPageDisagner__tercerContenido__container__item
{
    /*width: 100%;*/
    list-style: none;
}



/*History*/

#bodyPageHistory
{
    margin: 2rem 1rem;
    text-align: center;
}

.bodyPageHistory__contenido__title
{
    padding: 2rem 1rem;
    margin: 1rem;
    font-size: 4rem;
}

#bodyPageHistory p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.bodyPageHistory__contenidoAmpliable
{
    width: 1000px;
    margin: 1rem auto;
    padding: auto;
    text-align: center;
    background-color:  rgba(255, 232, 155, 0.863);
}

/*Product*/

#bodyPageProduct
{
    margin: 2rem 1rem;
    text-align: center;
}

.bodyPageProduct__contenido__title, .bodyPageProduct__segundoContenido__title
{
    padding: 2rem 1rem;
    margin: 1rem;
    font-size: 4rem;
}

#bodyPageProduct p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.bodyPageProduct__contenidoAmpliable
{
    width: 1000px;
    margin: 1rem auto;
    padding: auto;
    text-align: center;
    background-color:  rgba(255, 232, 155, 0.863);
}

/* Media Queris*/

@media screen and (max-width: 880px){
    body {
        justify-content: space-between;
    }
}
@media screen and (min-width: 881px){
    body{
        justify-content: none;
    }
}

/*
@media screen and (max-width: 1359px){
    .bodyPageDisagner__tercerContenido__container__item{
        width: 45%;
    }
}
@media screen and (min-width: 881px){
    .bodyPageDisagner__tercerContenido__container__item{
        width: 100%;
    }
}
*/
/* Animation */

@keyframes cambio {
    0% {margin-left: 0; }
    20%{margin-left: 0; }

    25%{margin-left: -100%; }
    45%{margin-left: -100%; }

    50%{margin-left: -200%; }
    70%{margin-left: -200%; }

    75%{margin-left: -300%; }
    100%{margin-left: -300%; }   
}