#bodyPageContact {
  margin: 1rem;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flexbox;
  min-height: 100vh; }

.bodyPageContact__contenido__form {
  background-color: white;
  margin-left: 10rem;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px #0000004d;
  text-align: center; }

.bodyPageContact__contenido__form__titel {
  font-size: 2rem;
  margin-bottom: .5em; }

.bodyPageContact__contenido__form__cont {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.bodyPageContact__contenido__form__grups__input {
  width: 100%;
  background: none;
  color: 706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-family: 'Permanent Marker', cursive; }

.bodyPageContact__contenido__form__grups__lable {
  color: coral;
  cursor: pointer;
  position: relative; }

.bodyPageContact__contenido__form__cont__submit {
  margin: 5rem 1rem 0 1rem;
  width: 8rem;
  height: 2rem;
  background: #364552;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  border-radius: 0.5rem;
  font-size: 1.2rem; }

#bodyPageDisagner {
  margin: 2rem 1rem;
  text-align: center; }

.bodyPageDisagner__contenido__title, .bodyPageDisagner__segundoContenido__title, .bodyPageDisagner__tercerContenido__title {
  padding: 2rem 1rem;
  margin: 1rem;
  font-size: 4rem; }

#bodyPageDisagner p {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem; }

.bodyPageDisagner__contenido__video, .bodyPageDisagner__segundoContenido__video {
  width: 80em;
  height: 45em;
  margin: 1rem;
  padding: 2rem; }

#bodyPageHistory {
  margin: 2rem 1rem;
  text-align: center; }

.bodyPageHistory__contenido__title {
  padding: 2rem 1rem;
  margin: 1rem;
  font-size: 4rem; }

#bodyPageHistory p {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem; }

.bodyPageHistory__contenido__img {
  padding: auto;
  margin: 2rem 1rem; }

#bodyPageProduct {
  margin: 2rem 1rem;
  text-align: center; }
  #bodyPageProduct .bodyPageProduct__contenido__img, #bodyPageProduct .bodyPageProduct__segudnContenido__img {
    width: 60rem;
    height: auto;
    margin: 0.1rem 0.1rem; }

.bodyPageProduct__contenido__title, .bodyPageProduct__segundoContenido__title {
  padding: 2rem 1rem;
  margin: 1rem;
  font-size: 4rem; }

#bodyPageProduct p {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem; }

/* Media Queris*/
/*@media screen and (max-width: 880px){
    body{
        justify-content: space-between;
    }
}
@media screen and (min-width: 881px){
    body{
        justify-content: none;
    }
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  font-family: 'Permanent Marker', cursive;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-content: space-around;
  align-items: stretch;
  justify-items: stretch; }

#header {
  background-color: #364552;
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
  color: coral;
  clear: both;
  content: "";
  display: table; }

.header__navbar__container__logo {
  width: 6rem;
  height: 6rem;
  float: left; }

.header__navbar__container__titulo {
  text-align: center;
  font-size: 3rem; }

.header__navbar__container__links {
  width: 900px;
  margin: auto 0; }

.header__navbar__container__links__list {
  width: 31rem;
  margin-left: auto; }

.header__navbar__container__links__list__items {
  margin-left: 1rem;
  padding: 0.25rem 0; }

.header__navbar__container__links__list__items a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold; }

.header__navbar__container__links__list__items a:hover {
  transition: 0.2s; }

.header__navbar__container__links__list__items a::before {
  display: block;
  content: "";
  width: 0%;
  background: black;
  height: 0.25rem;
  top: 0;
  transition: 0.2s; }

.header__navbar__container__links__list__items a:hover::before {
  width: 100%; }

#bodyPage {
  width: 60rem;
  margin: 0 auto; }
  #bodyPage .bodyPage__comentanos {
    text-align: center;
    margin: 1rem;
    padding: 1; }
  #bodyPage .bodyPage__comentanos__link {
    text-decoration: none;
    color: black; }
  #bodyPage .bodyPage__comentanos__link:hover {
    transition: color 0.3s ease;
    color: #2835ee; }
  #bodyPage .bodyPage__primerContenido__img, #bodyPage .bodyPage__tercerContenido__img {
    height: 15rem;
    margin: 1rem;
    padding: .1rem .2rem;
    border-radius: 1.25rem !important; }
  #bodyPage .bodyPage__segundoContenido__video {
    width: 40rem;
    height: 30rem;
    margin: 1rem; }

.bodyPage__primerContenido, .bodyPage__segundoContenido, .bodyPage__tercerContenido {
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
  text-align: center; }

.bodyPage__primerContenido:hover, .bodyPage__segundoContenido:hover, .bodyPage__tercerContenido:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }

.bodyPage__primerContenido a, .bodyPage__segundoContenido a, .bodyPage__tercerContenido a {
  color: black;
  text-decoration: none; }

.bodyPage__primerContenido a:hover, .bodyPage__segundoContenido a:hover, .bodyPage__tercerContenido a:hover {
  color: #364552; }

samp {
  font-size: 1.75rem;
  font-family: 'Permanent Marker', cursive; }

samp:hover {
  transition: 0.3s ease;
  color: coral; }

.bodyPage__comentanos {
  text-align: center;
  margin: 1rem;
  padding: 1; }

.bodyPage__comentanos__link {
  text-decoration: none;
  color: black; }

.bodyPage__comentanos__link:hover {
  transition: color 0.3s ease;
  color: #2835ee; }

#bodyPage p {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem; }

#footer {
  background-color: #333333;
  width: 100%;
  padding: 3rem;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif; }

#footer section {
  float: right; }

#footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none; }

#footer a:hover {
  color: #4b6af6; }
