/*Disagner*/
#bodyPageDisagner
{
    margin: 2rem $marggin-padding-generico;
    text-align: center;
}

.title__Genericos
{
    padding: 2rem $marggin-padding-generico;
    margin: $marggin-padding-generico;
}

.bodyPageDisagner__contenido__title 
{
    @extend .title__Genericos;
    font-size: $fuente-generica;
}
.bodyPageDisagner__segundoContenido__title, .bodyPageDisagner__tercerContenido__title
{
    @extend .title__Genericos;
    font-size: 2.5rem;
}


.bodyPageDisagner__contenido__video, .bodyPageDisagner__segundoContenido__video
{
    width: $ancho-videos;
    height: $alto-videos;
    margin: $marggin-padding-generico;
    padding: 2rem;
}
