#bodyPageDisagner
{
    margin: 2rem 1rem;
    text-align: center;
}

.bodyPageDisagner__contenido__title, .bodyPageDisagner__segundoContenido__title, .bodyPageDisagner__tercerContenido__title
{
    padding: 2rem 1rem;
    margin: 1rem;
    font-size: 4rem;
}

#bodyPageDisagner p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.bodyPageDisagner__contenido__video, .bodyPageDisagner__segundoContenido__video
{
    width: 80em;
    height: 45em;
    margin: 1rem;
    padding: 2rem;
}
