/*Footer*/
.footer {
    background-color: #333333;
    width: 100%;
    padding: 3rem;
     }
  
  .footer__section {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin:auto;
    margin-top: 1rem;
     }
  
  .footer__section__iconos
  {
    padding: 1rem;
    display: flex;
  }
  .footer__section__p
  {
    margin: 0 1rem;
  }
  .footer__section__iconos i
  {
    width: 5rem;
    height: 5rem;
  }

  .footer__section__iconos a {
    transition: color 0.3s ease;
    color: whitesmoke;
    text-decoration: none;
     }
  
  .footer a:hover {
    color: #4b6af6; }
  
  
