/*History*/
#bodyPageHistory
{
    margin: 2rem $marggin-padding-generico;
    text-align: center;
    width: 100%;
}

.bodyPageHistory__contenido__title
{
    @extend .title__Genericos;
    font-size: $fuente-generica;
}



.bodyPageHistory__contenido__img
{
    padding: auto;
    margin: 2rem $marggin-padding-generico;
    max-width: 100%;
}