#bodyPageHistory
{
    margin: 2rem 1rem;
    text-align: center;
}

.bodyPageHistory__contenido__title
{
    padding: 2rem 1rem;
    margin: 1rem;
    font-size: 4rem;
}

#bodyPageHistory p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.bodyPageHistory__contenido__img
{
    padding: auto;
    margin: 2rem 1rem;
}