/*Product*/

#bodyPageProduct
{
    margin: 2rem $marggin-padding-generico;
    text-align: center;
    width: 100%;

    .bodyPageProduct__contenido__img, .bodyPageProduct__segudnContenido__img
    {
        width: 60rem;
        height: auto;
        margin: 0.1rem 0.1rem;
        max-width: 100%;
    }
}

.bodyPageProduct__contenido__title
{
    @extend .title__Genericos;
    font-size: $fuente-generica;
    color: map-get($map: pallet, $key:color-texto );
}



