/* Media Queris*/
@media screen and (max-width: 900px){
    #bodyPage {
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center; }
  }
  @media screen and (min-width: 901px){
    #bodyPage {
        width: 60rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center; }
  }  
  @media screen and (max-width: 999px){
    .bodyPage__primerContenido__img, #bodyPage .bodyPage__tercerContenido__img {
      float: none;
    }
  }
  @media screen and (min-width: 1000px){
     .bodyPage__primerContenido__img, #bodyPage .bodyPage__tercerContenido__img {
      float: left;
    }
  }  
  @media screen and (max-width: 999px){
    .bodyPage__segundoContenido__video {
      float: none;
    }
  }
  @media screen and (min-width: 1000px){
    .bodyPage__segundoContenido__video {
      float: left;
    }
  }  

/*Definir mixin */
@mixin setAnchoLargo($ancho,$alto)
{
    width: $ancho;
    height: $alto;
}
@mixin setP($padd,$marg,$font)
{
    padding: $padd;
    margin: $marg;
    font-size: $font;
}



