/* Colores */
/*Definir Maps*/

$pallet:
(
    'color-pages-back':#efefef,
    'color-head-back': #364552,
    'color-footer-back': #333333,
    'color-card':white,
    'color-texto':coral,
    'color-texto-resaltante': coral,
    'color-footer-text':whitesmoke,
    'color-footer-a-text': whitesmoke,
    'color-footer-a-hover': rgb(75, 106, 246),
    'color-buttom': #364552,
    'color-buttom-text':whitesmoke
);

/* Tamñaos*/

$anchoMaximo: 100%;
$header-paddig-vertical: 2rem;
$header-paddig-horizontal: 1rem;
$header-font-size:3rem;
$header-ancho-link:31rem;
$header-contanier-navbar:6rem;
$marggin-padding-generico:1rem;
$ancho-videos:80em;
$alto-videos:45em;
$fuente-generica: 4rem;

$font-style:'Permanent Marker', cursive;