@import "var";
@import "query";
@import "contacto";
@import "designer";
@import "history";
@import "product";
@import "home";
@import "footer";
/*Generico para todas las paginas*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
iframe
{
  max-width: 100%;
}
body
{ 
    background-color: map-get($map: pallet, $key:color-pages-back ); 
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: space-around;
    align-items: stretch;
    justify-items: stretch;
}
/*header*/
#header {
    background-color: #364552;
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
    color: coral;
    clear: both;
    content: "";
    display: table; }
  
  .header__navbar__container__logo {
    width: 6rem;
    height: 6rem;
    float: left; }
  
  .header__navbar__container__titulo {
    text-align: center;
    font-size: 3rem; }
  
  .header__navbar__container__links {
    width: 1rem;
    margin: auto 0; }
  
    
  
  .header__navbar__container__links__list {
    width: 31rem;
    margin-left: auto; }
  
  .header__navbar__container__links__list__items {
    margin-left: 1rem;
    padding: 0.25rem 0; }
  
  .header__navbar__container__links__list__items a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold; }
  
  .header__navbar__container__links__list__items a:hover {
    transition: 0.2s; }
  
  .header__navbar__container__links__list__items a::before {
    display: block;
    width: 0%;
    height: 0.25rem;
    content: "";
    background: black;
    top: 0;
    transition: 0.2s; }
  
  .header__navbar__container__links__list__items a:hover::before {
    width: 100%; }
  

/*Aplicar minmix*/

#bodyPageProduct p, #bodyPageHistory p, #bodyPageDisagner p
{
    @include setP($marggin-padding-generico,$marggin-padding-generico,1.5rem);
}
