@import "var";
@import "query";
@import "contacto";
@import "designer";
@import "history";
@import "product";
@import "home";
@import "footer";
/*Generico para todas las paginas*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{ 
    background-color: map-get($map: pallet, $key:color-pages-back ); 
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: space-around;
    align-items: stretch;
    justify-items: stretch;
}
/*header*/
#header
{
    background-color: map-get($map: pallet, $key:color-head-back );
    width: $anchoMaximo;
    padding: $header-paddig-vertical $header-paddig-horizontal $header-paddig-vertical $header-paddig-horizontal;
    color: map-get($map: pallet, $key:color-texto );
    clear: both;
    content: "";
    display: table;

}
.header__navbar__container__logo
{
    @include setAnchoLargo($header-contanier-navbar,$header-contanier-navbar);
    float: left;
}
.header__navbar__container__titulo
{
    text-align: center;
    font-size: $header-font-size;
}
.header__navbar__container__links
{
    width: 900px;
    margin: auto 0;
}
.header__navbar__container__links__list{
    width: $header-ancho-link;
    margin-left: auto;
}

.header__navbar__container__links__list__items
{
    margin-left: $marggin-padding-generico;
    padding: 0.25rem 0;
}

.header__navbar__container__links__list__items a
{
    text-decoration: none;
    color: map-get($map: pallet, $key: color-footer-a-text);
    font-weight: bold;
}
.header__navbar__container__links__list__items a:hover
{
    transition: 0.2s;
}


.header__navbar__container__links__list__items a::before
{
    display: block;
    @include setAnchoLargo(0%,0.25rem);
    content: "";
    background: black;
    top: 0;
    transition: 0.2s;
}

.header__navbar__container__links__list__items a:hover::before
{
    width: $anchoMaximo;
}

/*Aplicar minmix*/

#bodyPageProduct p, #bodyPageHistory p, #bodyPageDisagner p
{
    @include setP($marggin-padding-generico,$marggin-padding-generico,1.5rem);
}
