@import "var";
@import "contacto";
@import "designer";
@import "history";
@import "product";
@import "query";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: $color-pages-back;
    font-family: 'Permanent Marker', cursive;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: space-around;
    align-items: stretch;
    justify-items: stretch;
}

#header
{
    background-color: $color-head-back;
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
    color: $color-texto;
    clear: both;
    content: "";
    display: table;

}
.header__navbar__container__logo
{
    width: 6rem;
    height: 6rem;
    float: left;
}
.header__navbar__container__titulo
{
    text-align: center;
    font-size: 3rem;
}
.header__navbar__container__links
{
    width: 900px;
    margin: auto 0;
}
.header__navbar__container__links__list{
    width: 31rem;
    margin-left: auto;
}

.header__navbar__container__links__list__items
{
    margin-left: 1rem;
    padding: 0.25rem 0;
}
//
.header__navbar__container__links__list__items a
{
    text-decoration: none;
    color: $color-footer-a-text;
    font-weight: bold;
}
.header__navbar__container__links__list__items a:hover
{
    transition: 0.2s;
}


.header__navbar__container__links__list__items a::before
{
    display: block;
    content: "";
    width: 0%;
    background: black;
    height: 0.25rem;
    top: 0;
    transition: 0.2s;
}

.header__navbar__container__links__list__items a:hover::before
{
    width: 100%;
}


#bodyPage
{
    width: 60rem;
    margin: 0 auto;
   
    
    .bodyPage__comentanos
    {
        text-align: center;
        margin: 1rem;
        padding: 1;
    }

    .bodyPage__comentanos__link
    {
        text-decoration: none;
        color: black;
    }

    .bodyPage__comentanos__link:hover
    {
        transition: color 0.3s ease;
        color: rgb(40, 53, 238);
    }   
    .bodyPage__primerContenido__img, .bodyPage__tercerContenido__img
    {
    height: 15rem;
    margin: 1rem;
    padding: .1rem .2rem;
    border-radius: 1.25rem!important;
    }
    .bodyPage__segundoContenido__video
{
    width: 40rem;
    height: 30rem;
    margin: 1rem;
}
}
.bodyPage__primerContenido, .bodyPage__segundoContenido, .bodyPage__tercerContenido{
    transition: box-shadow 0.3s ease;
    background-color: $color-card;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    text-align: center;
}
    
.bodyPage__primerContenido:hover, .bodyPage__segundoContenido:hover, .bodyPage__tercerContenido:hover{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}


.bodyPage__primerContenido a, .bodyPage__segundoContenido a, .bodyPage__tercerContenido a
{
    color:black;
    text-decoration: none;
}

.bodyPage__primerContenido a:hover, .bodyPage__segundoContenido a:hover, .bodyPage__tercerContenido a:hover
{
    color:$color-head-back;
}
samp
{
    font-size: 1.75rem;
    font-family: 'Permanent Marker', cursive;
}

samp:hover
{
    transition: 0.3s ease;
    color: $color-texto;
}
.bodyPage__comentanos
{
    text-align: center;
    margin: 1rem;
    padding: 1;
}

.bodyPage__comentanos__link
{
    text-decoration: none;
    color: black;
}

.bodyPage__comentanos__link:hover
{
    transition: color 0.3s ease;
    color: rgb(40, 53, 238);
}

#bodyPage p
{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}


#footer
{
    background-color: $color-footer-back;
    width: 100%;
    padding: 3rem;
    color: $color-footer-text;
    font-family: 'Roboto', sans-serif;
}

#footer section 
{
    float: right;
}

#footer a
{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

#footer a:hover
{
    color: rgb(75, 106, 246);
}
